Repository SOPT-all/35-COLLABORATION-WEB-ALADIN, pull requests merged in 2024-11, with the labels that each got.

#22 [fix/#19] yarn.lock 충돌 문제 해결
  .yarn/install-state.gz
  eslint.config.cjs
Labels: :bug: fix

#20 [init/#20] eslint, prettier 초기 세팅
  .eslintrc.cjs
  .prettierrc.json
  .yarn/install-state.gz
  eslint.config.js
  package.json
  src/App.tsx
  src/pages/Main/Main.tsx
  src/styles/GlobalStyle.tsx
  src/styles/theme.ts
  yarn.lock
Labels: :tada: init

#29 [feat/#26] 장바구니 주문 버튼 구현
  src/components/Cart/OrderBtn/OrderBtn.styled.ts
  src/components/Cart/OrderBtn/OrderBtn.tsx
Labels: :sparkles: feat

#32 [feat/#31] 장바구니 btn_cart_small 컴포넌트 구현
  .yarn/install-state.gz
  src/components/Cart/CartSmallBtn/CartSmallBtn.styled.ts
  src/components/Cart/CartSmallBtn/CartSmallBtn.tsx
Labels: :sparkles: feat

#34 [feat/#33] 체크박스 컴포넌트 구현
  .yarn/install-state.gz
  public/svgs/ic_checkbox.svg
  public/svgs/ic_rightarrow_medium_textgray40.svg
  public/svgs/img_6_1.svg
  public/svgs/img_6_2.svg
  public/svgs/img_6_3.svg
  public/svgs/img_6_4.svg
  public/svgs/img_6_5.svg
  public/svgs/img_6_6.svg
  public/svgs/img_6_7.svg
  public/svgs/img_6_8.svg
  public/svgs/img_6_9.svg
  src/assets/svgs/BtnFFloating.tsx
  src/assets/svgs/BtnFloating.tsx
  src/assets/svgs/Hihi.tsx
  src/assets/svgs/IcCheckbox.tsx
  src/assets/svgs/IcRightarrowMediumTextgray40.tsx
  src/assets/svgs/Img61.tsx
  src/assets/svgs/Img62.tsx
  src/assets/svgs/Img63.tsx
  src/assets/svgs/Img64.tsx
  src/assets/svgs/Img65.tsx
  src/assets/svgs/Img66.tsx
  src/assets/svgs/Img67.tsx
  src/assets/svgs/Img68.tsx
  src/assets/svgs/Img69.tsx
  src/assets/svgs/index.ts
  src/components/Cart/CheckboxBtn/Checkbox.styled.ts
  src/components/Cart/CheckboxBtn/CheckboxBtn.tsx
  src/components/HomeSection6Scroll/Section6Card.styled.ts
  src/components/HomeSection6Scroll/Section6Card.tsx
  src/pages/Main/Main.tsx
  src/styles/GlobalStyle.tsx
Labels: :sparkles: feat

#36 [Feat/#27] home section6 scroll 부분 구현
  .yarn/install-state.gz
  public/svgs/ic_arrow_sale_before.svg
  public/svgs/ic_rightarrow_small.svg
  public/svgs/img_1_1.svg
  public/svgs/img_1_2.svg
  public/svgs/img_1_3.svg
  public/svgs/img_1_4.svg
  public/svgs/playno.svg
  public/svgs/playyes.svg
  src/assets/svgs/IcArrowSaleBefore.tsx
  src/assets/svgs/IcRightarrowSmall.tsx
  src/assets/svgs/Img11.tsx
  src/assets/svgs/Img12.tsx
  src/assets/svgs/Img13.tsx
  src/assets/svgs/Img14.tsx
  src/assets/svgs/Playno.tsx
  src/assets/svgs/Playyes.tsx
  src/assets/svgs/index.ts
  src/components/Cart/CartSmallBtn/CartSmallBtn.styled.ts
  src/components/Cart/OrderBtn/OrderBtn.styled.ts
  src/components/HomeSection6Scroll/Section6Card.tsx
  src/components/homeSection1/homeSection1.styled.ts
  src/components/homeSection1/homeSection1.tsx
  src/constants/books.ts
  src/pages/Main/Main.tsx
Labels: :sparkles: feat

#38 [feat/#24] homeSection1 컴포넌트 구현
  .yarn/install-state.gz
  package.json
  src/components/homeSection1/homeSection1.styled.ts
  src/components/homeSection1/homeSection1.tsx
  yarn.lock
Labels: :sparkles: feat

#41 [feat/#40] homeSection7 구현
  .yarn/install-state.gz
  public/svgs/home_section_2_indicator.svg
  public/svgs/ic_pick.svg
  public/svgs/img_7_1.svg
  public/svgs/img_7_2.svg
  public/svgs/img_7_3.svg
  public/svgs/img_7_4.svg
  public/svgs/img_7_5.svg
  src/App.tsx
  src/assets/svgs/HomeSection2Indicator.tsx
  src/assets/svgs/IcPick.tsx
  src/assets/svgs/Img71.tsx
  src/assets/svgs/Img72.tsx
  src/assets/svgs/Img73.tsx
  src/assets/svgs/Img74.tsx
  src/assets/svgs/Img75.tsx
  src/components/HomeSection6Scroll/Section6Card.styled.ts
  src/components/HomeSection6Scroll/Section6Card.tsx
  src/components/Main/Section7/HomeSection7.styled.ts
  src/components/Main/Section7/HomeSection7.tsx
  src/pages/Layout/Layout.styled.ts
  src/pages/Main/Main.styled.ts
  src/styles/theme.ts
Labels: :sparkles: feat

#50 [feat/#48] 장바구니 section2 퍼블리싱
  .yarn/install-state.gz
  public/svgs/ic_cart_gray.svg
  public/svgs/ic_cart_white.svg
  public/svgs/ic_heart_gray.svg
  public/svgs/ic_heart_white.svg
  public/svgs/ic_leftarrow_gray50.svg
  public/svgs/ic_rightarrow_gray50.svg
  public/svgs/img_cartbook1.svg
  public/svgs/img_cartbook2.svg
  public/svgs/img_cartbook3.svg
  public/svgs/img_cartbook4.svg
  public/svgs/img_cartbook5.svg
  src/assets/svgs/IcCartGray.tsx
  src/assets/svgs/IcCartWhite.tsx
  src/assets/svgs/IcHeartGray.tsx
  src/assets/svgs/IcHeartWhite.tsx
  src/assets/svgs/IcLeftarrowGray50.tsx
  src/assets/svgs/IcRightarrowGray50.tsx
  src/assets/svgs/ImgCartbook1.tsx
  src/assets/svgs/ImgCartbook2.tsx
  src/assets/svgs/ImgCartbook3.tsx
  src/assets/svgs/ImgCartbook4.tsx
  src/assets/svgs/ImgCartbook5.tsx
  src/assets/svgs/index.ts
  src/components/Cart/RecItemSection/RecItemSection.styled.ts
  src/components/Cart/RecItemSection/RecItemSection.tsx
  src/components/common/ArrowBtn/ArrowBtn.styled.ts
  src/components/common/ArrowBtn/ArrowBtn.tsx
  src/constants/RecBooksConstants.ts
  src/pages/Cart/Cart.styled.ts
  src/pages/Cart/Cart.tsx
Labels: :sparkles: feat

#53 [feat/#51] 장바구니 section3 퍼블리싱
  .yarn/install-state.gz
  public/svgs/ic_leftarrow_medium_gray50.svg
  public/svgs/ic_rightarrow_medium_gray50.svg
  public/svgs/img_cart_31.svg
  public/svgs/img_cart_32.svg
  public/svgs/img_cart_33.svg
  public/svgs/img_cart_34.svg
  public/svgs/img_cart_35.svg
  public/svgs/img_cart_36.svg
  public/svgs/img_cart_37.svg
  public/svgs/img_cart_38.svg
  public/svgs/img_shopx2.svg
  src/assets/svgs/IcLeftarrowMediumGray50.tsx
  src/assets/svgs/IcRightarrowMediumGray50.tsx
  src/assets/svgs/ImgCart31.tsx
  src/assets/svgs/ImgCart32.tsx
  src/assets/svgs/ImgCart33.tsx
  src/assets/svgs/ImgCart34.tsx
  src/assets/svgs/ImgCart35.tsx
  src/assets/svgs/ImgCart36.tsx
  src/assets/svgs/ImgCart37.tsx
  src/assets/svgs/ImgCart38.tsx
  src/assets/svgs/ImgShopx2.tsx
  src/assets/svgs/index.ts
  src/components/Cart/GoodsSection/Goods.styled.ts
  src/components/Cart/GoodsSection/GoodsSection.tsx
  src/constants/GoodsInfoConstants.ts
  src/pages/Cart/Cart.tsx
Labels: :sparkles: feat

#54 [Feat/#42]home section8,9
  .yarn/install-state.gz
  package.json
  public/svgs/ic_audio.svg
  public/svgs/img_10_1.svg
  public/svgs/img_10_2.svg
  public/svgs/img_10_3.svg
  public/svgs/img_10_4.svg
  public/svgs/img_10_5.svg
  public/svgs/img_11_1.svg
  public/svgs/img_11_2.svg
  public/svgs/img_11_3.svg
  public/svgs/img_11_4.svg
  public/svgs/img_11_5.svg
  public/svgs/img_8_1.svg
  public/svgs/img_8_2.svg
  public/svgs/img_8_3.svg
  public/svgs/img_9_1.svg
  public/svgs/img_9_2.svg
  public/svgs/img_9_3.svg
  public/svgs/img_9_4.svg
  public/svgs/img_9_5.svg
  src/assets/svgs/IcAudio.tsx
  src/assets/svgs/Img101.tsx
  src/assets/svgs/Img102.tsx
  src/assets/svgs/Img103.tsx
  src/assets/svgs/Img104.tsx
  src/assets/svgs/Img105.tsx
  src/assets/svgs/Img111.tsx
  src/assets/svgs/Img112.tsx
  src/assets/svgs/Img113.tsx
  src/assets/svgs/Img114.tsx
  src/assets/svgs/Img115.tsx
  src/assets/svgs/Img81.tsx
  src/assets/svgs/Img82.tsx
  src/assets/svgs/Img83.tsx
  src/assets/svgs/Img91.tsx
  src/assets/svgs/Img92.tsx
  src/assets/svgs/Img93.tsx
  src/assets/svgs/Img94.tsx
  src/assets/svgs/Img95.tsx
  src/assets/svgs/index.ts
  src/components/Main/HomeSection10/HomeSection10.styled.ts
  src/components/Main/HomeSection10/HomeSection10.tsx
  src/components/Main/HomeSection11/HomeSection11.styled.ts
  src/components/Main/HomeSection11/HomeSection11.tsx
  src/components/Main/HomeSection6/HomeSection6.styled.ts
  src/components/Main/HomeSection6/HomeSection6.tsx
  src/components/Main/HomeSection7/HomeSection7.styled.ts
  src/components/Main/HomeSection7/HomeSection7.tsx
  src/components/Main/HomeSection8/HomeSection8.styled.ts
  src/components/Main/HomeSection8/HomeSection8.tsx
  src/components/Main/HomeSection9/HomeSection9.styled.ts
  src/components/Main/HomeSection9/HomeSection9.tsx
  src/components/Main/Section7/HomeSection7.tsx
  src/components/common/Button/ArrowLeftButton/ArrowLeftButton.styled.ts
  src/components/common/Button/ArrowLeftButton/ArrowLeftButton.tsx
  src/components/common/Button/ArrowRightButton/ArrowRightButton.styled.ts
  src/components/common/Button/ArrowRightButton/ArrowRightButton.tsx
  src/pages/Main/Main.tsx
  yarn.lock
Labels: :sparkles: feat

#55 [feat/#39] 베스트셀러 컴포넌트 및 광고 컴포넌트 구현
  .yarn/install-state.gz
  public/svgs/PropertyDown.svg
  public/svgs/PropertyUp.svg
  public/svgs/img_3_1.svg
  public/svgs/img_3_2.svg
  public/svgs/img_ad2.svg
  public/svgs/img_home_ad1.svg
  public/svgs/new.svg
  public/svgs/number_indicator.svg
  src/assets/svgs/Img31.tsx
  src/assets/svgs/Img32.tsx
  src/assets/svgs/ImgAd2.tsx
  src/assets/svgs/ImgHomeAd1.tsx
  src/assets/svgs/New.tsx
  src/assets/svgs/NumberIndicator.tsx
  src/assets/svgs/PropertyDown.tsx
  src/assets/svgs/PropertyUp.tsx
  src/assets/svgs/index.ts
  src/components/Ad/Ad.styled.ts
  src/components/Ad/Ad.tsx
  src/components/BestSeller/BestSeller.styled.ts
  src/components/BestSeller/BestSeller.tsx
  src/constants/bestSeller.ts
  src/constants/books.ts
  src/pages/Main/Main.tsx
Labels: :sparkles: feat

#62 [feat/#60] homeSection2 api연결 및 디자인 구현
  src/components/HomeSection2/HomeSection.styled.ts
  src/components/HomeSection2/HomeSection2.tsx
  src/pages/Main/Main.tsx
Labels: :sparkles: feat

#66 [refactor/#65] 공통된 버튼 컴포넌트 하나로 통일
  .yarn/install-state.gz
  src/components/Cart/RecItemSection/RecItemSection.tsx
  src/components/HomeSection2/HomeSection2.tsx
  src/components/Nobel/Nobel.tsx
  src/components/Recommend/Recommend.tsx
  src/components/common/ArrowBtn/ArrowBtn.styled.ts
  src/components/common/ArrowBtn/ArrowBtn.tsx
Labels: :recycle: refactor

#71 [Feat/#61] home section7api
  .yarn/install-state.gz
  src/apis/getSection7.ts
  src/components/Main/HomeSection7/HomeSection7.styled.ts
  src/components/Main/HomeSection7/HomeSection7.tsx
Labels: :sparkles: feat

#77 [fix/#76] header 하위 컴포넌트 수정
  .yarn/install-state.gz
  src/components/Header/Header.tsx
  src/components/Main/HomeSection10/HomeSection10.tsx
  src/components/Main/HomeSection11/HomeSection11.tsx
  src/components/Main/HomeSection6/HomeSection6.tsx
  src/components/Main/HomeSection7/HomeSection7.tsx
  src/components/homeSection1/homeSection1.styled.ts
Labels: :bug: fix

#75 [refactor/#74] 배송비 계산 로직 재수정 및 콘솔 삭제
  .yarn/install-state.gz
  src/components/Cart/OrderBtn/OrderBtn.tsx
  src/components/Cart/PriceInfo/PriceInfo.tsx
  src/components/Main/HomeSection6/HomeSection6.styled.ts
  src/components/Main/HomeSection6/HomeSection6.tsx
  src/pages/Cart/Cart.tsx
Labels: :recycle: refactor

#80 [fix/#79] 아이콘 height 수정
  src/components/BestSeller/BestSeller.tsx
  src/components/Main/HomeSection10/HomeSection10.tsx
  src/components/Main/HomeSection11/HomeSection11.tsx
  src/components/Main/HomeSection6/HomeSection6.tsx
  src/components/Main/HomeSection7/HomeSection7.tsx
Labels: :bug: fix

#83 [fix/#82] 메인페이지 레이아웃 수정
  src/components/Ad/Ad.styled.ts
  src/components/BestSeller/BestSeller.styled.ts
Labels: :bug: fix

#85 [docs] README.md 수정
  README.md
Labels: :memo: docs
